<!DOCTYPE html>
<html>

  <head>
    <title>Python Flask Starter Application</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/stylesheets/style.css">
  </head>

  <body>
    <table>
      <tr>
        <td style= "width:30%;">
          <img class = "newappIcon" src="static/images/newapp-icon.png">
        <td>
            <h1>Hi there!</h1>
          <p>We are creating a Watsart-app  to evaluate art through crowdsource way</p>
    </table>
    <table>
      <div class="header">
          <nav>
              <ul class="nav nav-pills pull-right">
                  <li role="presentation" class="active"><a href="#">Home</a>
                  </li>
                  <li role="presentation"><a href="Listen">Listen</a>
                  </li>
                  <li role="presentation"><a href="showSignUp">Sign Up</a>
                  </li>
              </ul>
          </nav>
          <h3 class="text-muted">Python Flask App</h3>
      </div>

    </table
  </body>

</html>
